---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs-collector
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: victoria-logs-collector
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    remoteWrite:
      - url: http://victoria-logs-server:9428
        ignoreFields:
          - kubernetes.container_id
          - kubernetes.pod_annotations*
          - kubernetes.node_labels*
          - kubernetes.namespace_labels*
          - kubernetes.pod_labels*

    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 128Mi
