---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: "${APP}-volsync-secret"
    template:
      data:
        RESTIC_REPOSITORY: "s3:{{ .endpointPublic }}/{{ .bucketName }}/${APP}"
        RESTIC_PASSWORD: "{{ .resticRepoPassword }}"
        AWS_ACCESS_KEY_ID: "{{ .accessKeyId }}"
        AWS_SECRET_ACCESS_KEY: "{{ .secretAccessKey }}"
  dataFrom:
    - extract:
        key: strg-ucos-haydenmoe-volsync-volsync
