---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: continuwuity
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      continuwuity:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: forgejo.ellis.link/continuwuation/continuwuity
              tag: v0.5.4-maxperf@sha256:71874923ccfd0095fb007c9d915d500453cfa4096cf8c75efb7f95c9939b2655
            env:
              CONTINUWUITY_SERVER_NAME: hayden.moe
              CONTINUWUITY_DATABASE_PATH: /data
              CONTINUWUITY_NEW_USER_DISPLAYNAME_SUFFIX: ""
              CONTINUWUITY_ADDRESS: 0.0.0.0
              CONTINUWUITY_PORT: &port 8008
              CONTINUWUITY_ALLOW_REGISTRATION: true
              CONTINUWUITY_ALLOW_ENCRYPTION: true
              CONTINUWUITY_ENCRYPTION_ENABLED_BY_DEFAULT_FOR_ROOM_TYPE: invite
              CONTINUWUITY_ALLOW_FEDERATION: true
              CONTINUWUITY_ALLOW_PUBLIC_ROOM_DIRECTORY_OVER_FEDERATION: true
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: continuwuity-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 1000m
                memory: 1Gi
              limits:
                cpu: 4000m
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: continuwuity
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["matrix.hayden.moe"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: matrix-continuwuity
      tmp:
        type: emptyDir
