---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/redis
    - ../../../../components/postgres
    - ../../../../components/volsync
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  interval: 1h
  path: ./kubernetes/apps/default/immich/app
  postBuild:
    substitute:
      APP: *app
      PG_NAME: immich-pg-new
      PG_SIZE: 4Gi
      VOLSYNC_CAPACITY: 32Gi
  patches:
    - target:
        kind: Cluster
        group: postgresql.cnpg.io
        name: immich-pg-new
      patch: |-
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        metadata:
          name: immich-pg-new
        spec:
          image: ghcr.io/tensorchord/cloudnative-pgvecto.rs:16.5-v0.3.0@sha256:be3f025d79aa1b747817f478e07e71be43236e14d00d8a9eb3914146245035ba
          postgresql:
            enableAlterSystem: true
            shared_preload_libraries:
              - "vectors.so"
          bootstrap:
            initdb:
              database: app
              owner: app
              postInitSQL:
                - CREATE EXTENSION IF NOT EXISTS "vectors";
                - CREATE EXTENSION IF NOT EXISTS "cube" CASCADE;
                - CREATE EXTENSION IF NOT EXISTS "earthdistance" CASCADE;
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
