---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: beammp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      beammp:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          pds:
            image:
              repository: mbentley/beammp-server
              tag: 3.9.0
            env:
              BEAMMP_NAME: Phoebe | Smeg
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: beammp-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      beammp:
        controller: beammp
        type: LoadBalancer
        ports:
          game:
            port: 30814

    persistence:
      data:
        existingClaim: beammp
      tmp:
        type: emptyDir
