---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: beammp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      beammp:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          beammp:
            image:
              repository: rouhim/beammp-server
              tag: latest@sha256:e44d41d8f5d026c79275f8fd9706b6860ad6b9d989e89566195f49734748e93f
            env:
              BEAMMP_NAME: Phoebe | Smeg
              BEAMMP_MAX_CARS: 1
              BEAMMP_MAX_PLAYERS: 8
              BEAMMP_MAP: /levels/italy/info.json
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: beammp-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "iot",
            "namespace": "kube-system",
            "ips": ["192.168.20.25/24"],
            "mac": "c6:07:27:af:fb:54"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      data:
        existingClaim: beammp
      tmp:
        type: emptyDir
