---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: ${PG_NAME:-${APP}-pg}
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  imageName: ${PG_IMAGE:-ghcr.io/cloudnative-pg/postgresql:18-minimal-trixie}
  instances: ${PG_INSTANCES:-1}
  bootstrap:
    recovery:
      source: source
      recoveryTarget:
        targetTime: "2025-11-20 11:00:01+00:00"
  externalClusters:
  - name: source
    plugin:
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: ${PG_NAME:-${APP}-pg}-barman-os
  storage:
    size: ${PG_SIZE:-5Gi}
    storageClass: ${PG_STORAGECLASS:-ceph-block}
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: ${PG_NAME:-${APP}-pg}-barman-os
