---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: ${PG_NAME:-${APP}-pg}
spec:
  cluster:
    name: ${PG_NAME:-${APP}-pg}
  schedule: '0 0 * * * *'
  backupOwnerReference: self
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
