---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: victoria-logs
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: victoria-logs
    server:
      retentionPeriod: 7d
      serviceMonitor:
        enabled: true
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      route:
        enabled: true
        hostnames:
          - "vl.hayden.moe"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /
    dashboards:
      enabled: true
