# vim:ft=yaml sw=2 ts=2 et
---
version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: op://phoebe/talos/MACHINE_TOKEN
  ca:
    crt: op://phoebe/talos/MACHINE_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://phoebe/talos/MACHINE_CA_KEY
    {% endif %}
  certSANs: ["127.0.0.1", "192.168.1.3"]
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    nodeIP:
      validSubnets: ["192.168.1.0/24"]
  network: {}
  install:
    disk: /dev/nvme0n1
    image: factory.talos.dev/metal-installer/{{ ENV.TALOS_SCHEMATIC }}:{{ ENV.TALOS_VERSION }}
    wipe: false
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers: ""
cluster:
  ca:
    crt: op://phoebe/talos/CLUSTER_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://phoebe/talos/CLUSTER_CA_KEY
    {% endif %}
  clusterName: phoebe
  controlPlane:
    endpoint: https://192.168.1.3:6443
  id: op://phoebe/talos/CLUSTER_ID
  network:
    cni:
      name: none  # replaced by cilium helm chart deployment later
    dnsDomain: phoebe.local
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
  secret: op://phoebe/talos/CLUSTER_SECRET
  token: op://phoebe/talos/CLUSTER_BOOTSTRAP_TOKEN
  {% if ENV.IS_CONTROLLER %}
  aggregatorCA:
    crt: op://phoebe/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://phoebe/talos/CLUSTER_AGGREGATORCA_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - 127.0.0.1
      - 192.168.1.3
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 300m
        memory: 256Mi
  coreDNS:
    disabled: true  # replaced by helm chart deployment later
  etcd:
    advertisedSubnets:
      - 192.168.1.0/24
    ca:
      crt: op://phoebe/talos/CLUSTER_ETCD_CA_CRT
      key: op://phoebe/talos/CLUSTER_ETCD_CA_KEY
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:{{ ENV.KUBERNETES_VERSION }}
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
  secretboxEncryptionSecret: op://phoebe/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  serviceAccount:
    key: op://phoebe/talos/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
