# vim:ft=yaml
---
clusterName: phoebe
endpoint: https://10.80.0.8:6443
domain: cluster.local

talosVersion: "{{ ENV.TALOS_VERSION }}"
kubernetesVersion: "{{ ENV.KUBE_VERSION }}"

additionalMachineCertSans:
  - 127.0.0.1
  - phoebe.hayden.moe
additionalApiServerCertSans:
  - 127.0.0.1
  - phoebe.hayden.moe

clusterPodNets: ["172.18.0.0/16"]
clusterSvcNets: ["172.19.0.0/16"]

# Disable built-in CNI, use Cilium instead
cniConfig:
  name: none

allowSchedulingOnMasters: true
nodes:
  - hostname: phoebe-k-ctrl-01
    controlPlane: true
    ipAddress: 10.70.0.186
    installDiskSelector:
      serial: S4EUNZFN539342N # 256gb Samsung 950 EVO Plus
    machineSpec:
      secureBoot: true
    talosImageUrl: factory.talos.dev/installer-secureboot/{{ ENV.TALOS_SCHEMATIC }}
    nodeLabels:
      amd.feature.node.kubernetes.io/gpu: 'true'
    networkInterfaces:
      - interface: enp3s0
        dhcp: false
        vlans:
          - # phoebe-v-iot
            vlanId: 20
            dhcp: false
            mtu: 1500
          - # phoebe-v-servers
            vlanId: 70
            dhcp: true
            mtu: 1500
          - # phoebe-v-vpn
            vlanId: 90
            dhcp: false
            mtu: 1500

patches:
  - '@{{ ENV.TALOS_DIR }}/manifests/global/watchdog.yaml'
  - '@{{ ENV.TALOS_DIR }}/patches/global/machine-files.yaml'
  - '@{{ ENV.TALOS_DIR }}/patches/global/machine-kubelet.yaml'
  - '@{{ ENV.TALOS_DIR }}/patches/global/machine-network.yaml'
  - '@{{ ENV.TALOS_DIR }}/patches/global/machine-sysctls.yaml'
  - '@{{ ENV.TALOS_DIR }}/patches/global/machine-time.yaml'

controlPlane:
  patches:
    - '@{{ ENV.TALOS_DIR }}/patches/controller/cluster.yaml'
