---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: paperless-secret
    template:
      data:
        PAPERLESS_SECRET_KEY: "{{ .secretKey }}"
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: |-
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "keycloak",
                  "name": "Hayden's SSO",
                  "client_id": "{{ .clientId }}",
                  "secret": "{{ .clientSecret }}",
                  "settings": {
                    "server_url": "https://id.hayden.moe/realms/haydenmoe/.well-known/openid-configuration"
                  }
                }
              ]
            }
          }
  dataFrom:
    - extract:
        key: app/paperless
