---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: immich
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.10.3
  url: oci://ghcr.io/immich-app/immich-charts/immich
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        containers:
          main:
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.3.1
            env:
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: password
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: username
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: dbname
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-pg-app
                    key: host
              REDIS_HOSTNAME: immich-redis

    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich
