---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../../components/postgres

resources:
  - ./pgcluster.yaml
  - ./httproute.yaml
  - ./helmrelease.yaml

patches:
  - target:
      kind: Cluster
      group: postgresql.cnpg.io
      name: immich-pg-new
    patch:
      - op: add
        path: /spec/postgresql
        value:
          enableAlterSystem: true
          shared_preload_libraries:
            - "vectors.so"
      - op: add
        path: /spec/bootstrap
        value:
          initdb:
            database: app
            owner: app
            postInitSQL:
              - CREATE EXTENSION IF NOT EXISTS "vectors";
              - CREATE EXTENSION IF NOT EXISTS "cube" CASCADE;
              - CREATE EXTENSION IF NOT EXISTS "earthdistance" CASCADE;
