---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: mariadb-operator
      version: 25.10.2
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: mariadb-operator-crds
  values:
    fullnameOverride: mariadb-operator
    metrics:
      enabled: true
    webhook:
      cert:
        certManager:
          enabled: true
