---
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: ts-cidrs
spec:
  hostname: phoebe-cidrs
  tags:
    - "tag:hm-ag-k8s-phoebe"
  subnetRouter:
    advertiseRoutes:
      - "172.18.0.0/16"  # pods
      - "172.19.0.0/16" # services
