# Managed by Ansible

[Unit]
Description=Restic backup
After=syslog.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/restic-backup
EnvironmentFile=/etc/restic/env
AmbientCapabilities=CAP_DAC_READ_SEARCH
