---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Sync Tailscale ACLs

on:
  push:
    branches: ["main"]
    paths:
      - misc/ts-acls/acls.json
      - .github/workflows/ts-acls.yaml
  pull_request:
    branches: ["main"]
    paths:
      - misc/ts-acls/acls.json
      - .github/workflows/ts-acls.yaml
  workflow_dispatch:

concurrency:
  group: sync-ts-acls

jobs:
  sync:
    name: Sync ACLs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Deploy ACL
        if: github.event_name == 'push'
        id: deploy-acl
        uses: tailscale/gitops-acl-action@90d41601ba36b946cf4946ef5a72bf6e16bae14b # v1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tailnet: ${{ secrets.TS_TAILNET }}
          policy-file: misc/ts-acls/acls.json
          action: apply

      - name: Test ACL
        if: github.event_name == 'pull_request'
        id: test-acl
        uses: tailscale/gitops-acl-action@90d41601ba36b946cf4946ef5a72bf6e16bae14b # v1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tailnet: ${{ secrets.TS_TAILNET }}
          policy-file: misc/ts-acls/acls.json
          action: test
